services:
  mysql:
    image: mysql:8.4.7
    container_name: my_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - /Users/jax/docker/mysql/data:/var/lib/mysql
      - /Users/jax/docker/mysql/config:/etc/mysql/conf.d
