<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jax.snack.upms.biz.mapper.SysResourceMapper">

    <select id="selectResourcesByRoleCodes" resultType="org.jax.snack.upms.biz.entity.SysResource">
        SELECT DISTINCT res.*
        FROM sys_resource res
                 JOIN sys_role_resource rr ON res.id = rr.resource_id
        WHERE rr.role_code IN
              <foreach item="code" collection="roleCodes" open="(" separator="," close=")">
                  #{code}
              </foreach>
        <if test="status != null">
            AND res.status = #{status}
        </if>
        ORDER BY res.sort_order ASC
    </select>

</mapper>
